# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so.*
*.dylib

# Executables
*.exe
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

*~
*.tcl
*.hgr
*.part.*


script/1
script/CCX_metis_2015-09-29/
script/G*
script/MPSoC_results_2015-09-29/
script/backup/
script/bench.py
script/check_area.py
script/clusters
script/*txt
script/*.csv
script/diff
script/*.dump
script/out
script/*.cprof
script/*.log
script/phoney_output
script/phoney_tmp.py
script/pycallgraph.png
script/raw_hyperedges.out
script/run.sh
script/run1.sh
script/run2.sh
script/run3.sh
script/run4.sh
script/test.py
script/tout
script/mark_netcut.py
script/run4.py

CCX_Auto0500/
CCX_Auto1000/
CCX_HL1/
CCX_HL2/
CCX_HL3/
CCX_HL4/
LDPC_100/
LDPC_1000/
MPSoC/
README.html
RTX/
SPC/
ccx/
common_cut_net_LDPC_all_clustering.pdf
common_cut_net_LDPC_all_clustering.xls
cpu_ondemand.sh
cpu_perf.sh
hmetis-2.0pre1/
input_files/hypergraph.dump
input_files/simplegraph.dump
metis-5.1.0/
metis/
openMSP/
spc_HL1/
spc_L2/
spc_L3/
temp_design/
tmp/*

.~lock.*